@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Bufete de Abogados</h1>

Bienvenido a la aplicación administrativa para el bufete de abogados.
<br />
<br />
<table class="table">
        <thead>
            <tr>
                <th>IMPORTANTE</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
           <td>Para tener acceso a todos nuestros componentes para administración de clientes, abogados y usuarios administrativos, recuerda siempre iniciar sesión</td>
        </tbody>
    </table>
<br />
<br />